body{
    background-color: rgb(224, 210, 191);
}



@font-face {
    font-family: miFuenteEspecial;
    src: url(../Love_and_Passion.ttf);
}

i{
    font-size: 40px;
    color: green;
}

h1{
    font-family: miFuenteEspecial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#usuario{
    color:grey;
}
form .destacado{
    background-color: red;
}



